if hexo-config('css_prefix')
  @import 'nib'

@import '_third-party/normalize.min.css'
// project
@import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/var'
@import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_global/*'
@import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_highlight/highlight'
@import https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/'_page/*'
@import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_layout/*'
@import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_tags/*'
@import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_mode/*'

// search
if hexo-config('algolia_search.enable')
  @import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_search/index'
  @import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_search/algolia'

if hexo-config('local_search') && hexo-config('local_search.enable')
  @import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_search/index'
  @import 'https://cdn.jsdelivr.net/gh/zhangshiha0/CDN@main/css/_search/local-search'